@import '../../../var.scss';

.map-toggle {
	padding: 15px 25px;
	text-align: center;
	background: $green;
	color: white;
	z-index: 200;
	position: absolute;
	left: 0px;
	top: 50%;
	text-transform: uppercase;
	border: 0px;
	transform: translate3d(0%, -50%, 0);
	transition: all 0.2s ease-out;

	&.hidden {
		transform: translate3d(-110%, -50%, 0);
	}

	&:hover {
		cursor: pointer;
	}
}

.menu-button {
	position: absolute;
	top: 45px;
	right: 50px; 
	z-index: 150;
	font-size: 55px;
	color: white;

	&:hover {
		cursor: pointer;
	}
}
