@import '../../../var.scss';

.logo-container {
	position: absolute;
	top: 0px;
	padding-top: 50px;
	z-index: 100;
	right: 60px;
	transition: all 0.3s ease-out;

	&.centered {
		right: 50%;
		transform: translateX(50%);
		> h1 {
			color: #333;
			font-size: 90px;
		}
	}

	> h1 {
		display: inline;
		text-transform: uppercase;
		color: white;
		letter-spacing: 20px;
	}
}