@import '../../../var.scss';

.side-nav {
	background: white;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 300px;
	height: 100%;
	z-index: 200;
	box-sizing: border-box;
	padding-top: 200px;
	border-left: 5px solid $brown;
	transition: all 0.2s ease-out;

	&.hidden {
		transform: translateX(300px);
	}

	> a {
		display: block;
		text-transform: uppercase;
		color: white;
		text-align: center;
		color: $green;
		font-size: 18px;
		text-decoration: none;
		padding: 25px 0px;


		&:hover, &:active, &:visited {
			color: $green;
		}
	}
}