.side-nav {
	background: #333;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 300px;
	height: 100%;
	z-index: 200;
	box-sizing: border-box;
	padding-top: 200px;
	transition: all 0.2s ease-out;

	&.hidden {
		transform: translateX(300px);
	}

	> a {
		display: block;
		text-transform: uppercase;
		color: white;
		text-decoration: none;
		padding: 25px 0px 25px 75px;


		&:hover, &:active, &:visited {
			color: #eee;
		}
	}
}