@import '../../../var.scss';

.side-nav {
	background: white;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 300px;
	height: 100%;
	min-height: 480px;
	z-index: 200;
	-webkit-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
	box-sizing: border-box;
	padding-top: 200px;
	transition: all 0.2s ease-out;

	&.hidden {
		transform: translateX(300px);
	}

	.nav-links {
		position: absolute;
		bottom: 0px;
		right: 0px;
		width: 100%;

		> a {
			display: block;
			position: relative;
			background: $green;
			text-transform: uppercase;
			color: white;
			font-size: 20px;
			text-decoration: none;
			padding: 25px 0px;
			margin-bottom: 10px;
			padding-left: 50px;
			border-top: 2px solid white;
			border-bottom: 2px solid white;
			transition: all 0.2s ease-out;

			&:hover {
				padding-left: 35px;
			}

			&:before {
				position: absolute;
			}

		}
	}
}